

/********* Genral ***************/
html{
    font-size: 62.5%;

}
body{
    font-family: 'Hind Siliguri';
    font-size: 2.3rem;
    line-height: 1.5;
    background-color: transparent;
  
}
:root{
    --main-color:rgb(2, 204, 160);
    --para-color: rgb(100, 100, 100);
}
/********************************/

/*--------------Header***********/
/******Menu**********/
.menu{
    position: fixed;
    top: 0;
    background-color: white;
    width: 100vw;
   
   
}
.icon-logo-flex{
    display: flex;
    justify-content:space-between;
    
}

.menu-icon{
  
    cursor: pointer;
    color: var(--main-color);
    font-size: 2.6rem;
    margin-top: 0.5rem;
    margin-right: 1rem;
}
.menu-list{
   margin-top: 0rem; 
   margin-left: -2rem;
   margin-bottom: 1rem;
   
}
.menu-list li{
    text-transform: uppercase;
    margin-top: 2.4rem;
    font-weight: 400;
    list-style: none;
    font-size: 1.7rem;
}

.menu-list li:last-child{
    margin-bottom: 2rem;
}
.menu-list .link{
    text-decoration: none;
    color: rgb(151, 151, 151);
}
.menu-list .link:hover{
    color: var(--main-color);
}
.main-logo{
    margin-bottom: 0;
    margin-top: 2rem;
    margin-left: 1.5rem;
    font-weight: 500;
    font-size: 2.6rem;

    transition: all 0.3s ease-in-out;
}
.dropdown-content{
    max-height: 0;
    overflow: hidden;
   transition: max-height 0.4s ease-in-out;
}
.show-content{
    max-height: 100vh; 
    transition: max-height 1s ease-in-out;
}

@media screen and (min-width: 900px) {
    .menu-icon{
  
      transform: scaleY(0);
        
    }
    .dropdown-content{
        max-height: 100vh;
        
    }
    .menu{
        padding: 0 0 1.3rem;
    }
    .menu-list{
        position: absolute;
        top: 0.5rem;
        right: 0;
    }
    .menu-list li{
      display: inline-block;
      margin-right: 2.6rem;
      font-weight: 500;
     
    }
   
    
}
@media screen and (min-width: 1200px){
  .menu-list{
      margin-right: 10rem;
  }
  .main-logo{
      margin-left: 10rem;
      font-size: 3.4rem;
  }
  .menu{
      padding-top: 4rem;
  }
}
/***Header Hero ***********/
.header__hero{
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7)), url("/images/header-bg.jpg");
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.hero__content{
    color: white;
}
.hero__content h1{
    font-weight: 500;
    font-size: clamp(4rem,6vw,6rem);
}
.hero__content p{
    color: rgb(202, 202, 202);
    font-size: 1.7rem;
    word-spacing: 3px;
    letter-spacing: 2px;
    margin-top: -1rem;
 
}
/*-- Buttons */
.btn{
    font-size: 1.5rem;
    font-weight: 500;
    border-radius: 3rem;
    padding: 1.5rem 3rem;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    word-spacing: 2.7px;
    

    transition: all 0.5s;
}
.hero__btns{
margin-top: 4rem;
height: 2rem;
}
.btn--learn{
    background-color: transparent;
    border: 2px solid white;
    outline: none;
    margin-right: 1.5rem ;
    width:max-content;
    display: none;
    
}
.btn--learn:hover{
    background: var(--main-color);
    border: none;
}
.btn--meet{
    color: rgb(88, 88, 88);
    border: none;
}
.btn--meet:hover{
    color: white;
    background: transparent;
    border: 2px solid white;
    
}

/**** screen size 900px and 1200px ----*/
@media screen and (min-width: 900px){
    .btn--learn{
        display: inline-block;
    }
}
@media screen and (min-width: 900px){
    .hero__content h1{
        width: 20ch;
    }
}
/******** Dev Sliding Images*****/
.dev-container{
    width: 80%;
    margin: 0 auto;  
    /* border: 2px red solid; */
    overflow: hidden;
}
.dev__image-slider1{
    /* display: flex;
    gap: 1rem; */
 position: relative; 

padding: 0;

/* border: 2px solid blue; */
}

.dev__img{
     position: absolute; 
    /* position: relative; */
    transition: all 1.5s;
    list-style-type: none;
    
}
.dev__img:hover .icons-container{
    opacity: 1;
}
.dev__img img{
    width: 25.85vw;
    
    
}
.icons-container{
   
    
    background-color: white;
    position: absolute;
    top: 40%;
    left: 30%;
    
    opacity: 0;
    transition: opacity 0.3s;
}
i{
    font-size: 2rem;
    padding: 1.5rem;
    
}
.icons-contact{
    font-size: 2rem;
    padding: 1.5rem;
    color: black;
    z-index: 100;
    top: 45%;
    transition: all 0.4s;
}
.icons-contact:hover{
    cursor: pointer;
    background-color: rgb(159, 226, 159);
}


/**************** Service Section ************/
.services-section{
    padding: 10rem 5rem;
    display: grid;
    gap: 2rem;
    background-color: rgb(241, 241, 241);
}

.service{
    text-align: center;
    background-color: white;
    box-shadow: 0 0 20px 2px rgb(211, 211, 211);
    transition: all 0.3s ease-in-out;
    padding: 4rem;
}

.service:hover{
    transform: translateY(-10px);
    box-shadow: 0 0 20px 10px rgb(211, 211, 211); ;
}
.container{
 
    margin: auto;
}
.service i{
font-size: 4rem;
opacity: 0.8;
}
.service h2{
    font-size: 2.5rem;
    font-weight: 400;
}
.service__line{
    border-bottom: 3px solid var(--main-color);
    width: 5rem;
    margin: auto;
}
.service p{
  font-size: 1.6rem;
  color: gray;
  line-height: 2;
  
}

/*** For PC ***/
@media screen and (min-width: 830px) {
    .services-section{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (min-width: 1050px) {
    .services-section{
        grid-template-columns: repeat(3, 1fr);
    }
}

/******** Features Section ************/

.features-section{
display: flex;
flex-direction: column;
justify-content: center;
gap: 5rem 15rem;
margin: 6rem 2rem;
}
.features__title{
    font-weight: 400;
    margin-bottom: 0;
}
.features__para{
    font-size: 1.9rem;
    color: var(--para-color);
    margin-top: 0.7rem;
   
}
.features__img{
    width: clamp(300px, 80%, 800px);
}
.features__img img{
    width: 100%;
}

.features__itself:first-of-type{
margin-top: 5rem;
}
.features__itself i{
    float: left;
    font-size: 2rem;
    color: white;
    background-color: var(--main-color);
}
.itself__content{
   margin-left: 8rem;
}
.itself__content h3{
   margin-bottom: 1rem;
   font-weight: 300;
   font-size: 2.2rem;
   color: var(--para-color);
}
.itself__content p{
    margin-top: 0;
    font-size: 1.6rem;
    color: var(--para-color);
    opacity: 0.7;
}

/**** For PC ****/
@media screen and (min-width:1000px) {
    .features-section{
        flex-direction: row;
        padding: 3rem;
    }
    .features__img{
        width: 50%;
    }
  
}
@media screen and (min-width:1300px) {
    .features-section{
        flex-direction: row;
        padding: 10rem;
    }
}


/******** Video Section **************/
.video-section{
    position: relative;

   background: linear-gradient(rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.7)),url(/images/video-bg.jpg);
   background-position: center center;
   background-repeat: no-repeat;
   background-size: cover;

   text-align: center;

   padding: 5rem;

}
.video__icon{
    color: var(--main-color);
    font-size: 5.7rem;
    cursor: pointer;
    padding: 0;

    transform: scale(1);
    transition: transform 0.2s ease-in-out;
}
.video__icon:hover{
    transform: scale(1.2);
}
.video-section h2{
    color: white;
    font-weight: 400;
    font-size: 3.2rem;
    margin: 0.4rem 0 1rem
}
.video-section p{
    color: rgb(185, 185, 185);
    font-size: 1.7rem;
    
}

/*** Video itself ****/

.video__btn{
    text-align: right;
}
.video__btn button{
    background: transparent;
    color: gray;
    font-weight: bold;
    border: none;
}
.video__btn button:hover{
    color: white;
    cursor: pointer;
}
.video__container{
    width: 70vw;
    height: 50vh;
    position: absolute;
    top: 0;
    left: 15%;
    display: none;
    z-index: 100;
}
.video__container iframe{
    width: 70vw;
    height: 50vh;
}
/***** For PC *******/
@media screen and (min-width: 700px) {
    .video-section h2{
        font-size: 3.8rem;
    }
    .video-section p{
        color: rgb(185, 185, 185);
        font-size: 2rem;
        
    }
    .video__container{
     display: none;
    }
}

@media screen and (min-width: 1000px) {
    .video-section p{
        width: 70ch;
        margin: auto;
    }
    .video__container{
        width: 60vw;
        height: 50vh;
    
        left: 20%;
        
    }
    .video__container iframe{
        width: 60vw;
        height: 70vh;
    }

}