

/********* Genral ***************/
html{
    font-size: 62.5%;

}
body{
    font-family: 'Hind Siliguri';
    font-size: 2.3rem;
    background-color: gray;
}
:root{
    --main-color:rgb(2, 204, 2);
}
/********************************/

/*--------------Header***********/
/******Menu**********/
.menu{
    background-color: white;
}
.icon-logo-flex{
    display: flex;
    justify-content:space-between;
}
.menu-icon{
  
    cursor: pointer;
    color: var(--main-color);
    font-size: 2.6rem;
}
.menu-list{
   margin-top: -1.4rem; 
   margin-left: -2rem;
   
}
.menu-list li{
    text-transform: uppercase;
    margin-top: 2.4rem;
    font-weight: 400;
    list-style: none;
    font-size: 1.7rem;
}

.menu-list li:last-child{
    margin-bottom: 2rem;
}
.menu-list .link{
    text-decoration: none;
    color: rgb(151, 151, 151);
}
.menu-list .link:hover{
    color: var(--main-color);
}
.main-logo{
  
    margin-top: 2rem;
    margin-left: 1.5rem;
    font-weight: 500;
    font-size: 2.6rem;
}
.dropdown-content{
    max-height: 0;
    overflow: hidden;
   transition: max-height 0.4s ease-in-out;
}
.show-content{
    max-height: 100vh; 
    transition: max-height 1s ease-in-out;
}
/******** Dev Sliding Images*****/
.dev-container{
    width: 80%;
    margin: 0 auto;  
    /* border: 2px red solid; */
    overflow: hidden;
}
.dev__image-slider1{
    /* display: flex;
    gap: 1rem; */
 position: relative; 

padding: 0;

/* border: 2px solid blue; */
}

.dev__img{
     position: absolute; 
    /* position: relative; */
    transition: all 1.5s;
    list-style-type: none;
    
}
.dev__img:hover .icons-container{
    opacity: 1;
}
.dev__img img{
    width: 25.85vw;
    
    
}
.icons-container{
   
    
    background-color: white;
    position: absolute;
    top: 40%;
    left: 30%;
    
    opacity: 0;
    transition: opacity 0.3s;
}
i{
    font-size: 2rem;
    padding: 1.5rem;
    
}
.icons-contact{
    font-size: 2rem;
    padding: 1.5rem;
    color: black;
    z-index: 100;
    top: 45%;
    transition: all 0.4s;
}
.icons-contact:hover{
    cursor: pointer;
    background-color: rgb(159, 226, 159);
}


