

/********* Genral ***************/
html{
    font-size: 62.5%;

}
body{
    font-family: 'Hind Siliguri';
    font-size: 2.3rem;
    line-height: 1.5;
    background-color: transparent;
    
  
}
:root{
    --main-color:rgb(2, 204, 160);
    --para-color: rgb(100, 100, 100);
}
/********************************/

/*--------------Header***********/
/******Menu**********/
.menu{
    position: fixed;
    top: 0;
    background-color: white;
    width: 100vw;
   z-index: 1000;
   
}
.menu-box-shadow{
    box-shadow: 0 0 20px 1px rgb(204, 204, 204);
}
.icon-logo-flex{
    display: flex;
    justify-content:space-between;
    
}

.menu-icon{
  
    cursor: pointer;
    color: var(--main-color);
    font-size: 2.6rem;
    margin-top: 0.5rem;
    margin-right: 1rem;
}
.menu-list{
   margin-top: 0rem; 
   margin-left: -2rem;
   margin-bottom: 1rem;
   
}
.menu-list li{
    text-transform: uppercase;
    margin-top: 2.4rem;
    font-weight: 400;
    list-style: none;
    font-size: 1.7rem;
}

.menu-list li:last-child{
    margin-bottom: 2rem;
}
.menu-list .link{
    text-decoration: none;
    color: rgb(151, 151, 151);
}
.menu-list .link:hover{
    color: var(--main-color);
}
.main-logo{
    margin-bottom: 0;
    margin-top: 2rem;
    margin-left: 1.5rem;
    font-weight: 500;
    font-size: 2.6rem;

    transition: all 0.3s ease-in-out;
}
.dropdown-content{
    max-height: 0;
    overflow: hidden;
   transition: max-height 0.4s ease-in-out;
}
.show-content{
    max-height: 100vh; 
    transition: max-height 1s ease-in-out;
}

@media screen and (min-width: 900px) {
    .menu-icon{
  
      transform: scaleY(0);
        
    }
    
    .menu{
        padding: 0 0 1.3rem;
    }
    .menu-list{
        position: absolute;
        top: 0.5rem;
        right: 0;
        max-height: 100vh;
    }
    .menu-list li{
      display: inline-block;
      margin-right: 2.6rem;
      font-weight: 500;
     
    }
   
    
}
@media screen and (min-width: 1200px){
  .menu-list{
      margin-right: 10rem;
  }
  .main-logo{
      margin-left: 10rem;
      font-size: 3.4rem;
  }
  .menu{
      padding-top: 4rem;
  }
}
/***Header Hero ***********/
.header__hero{
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7)), url("/images/header-bg.jpg");
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.hero__content{
    color: white;
}
.hero__content h1{
    font-weight: 500;
    font-size: clamp(4rem,6vw,6rem);
}
.hero__content p{
    color: rgb(202, 202, 202);
    font-size: 1.7rem;
    word-spacing: 3px;
    letter-spacing: 2px;
    margin-top: -1rem;
 
}
/*-- Buttons */
.btn{
    font-size: 1.5rem;
    font-weight: 500;
    border-radius: 3rem;
    padding: 1.5rem 3rem;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    word-spacing: 2.7px;
    

    transition: all 0.5s;
}
.hero__btns{
margin-top: 4rem;
height: 2rem;
}
.btn--learn{
    background-color: transparent;
    border: 2px solid white;
    outline: none;
    margin-right: 1.5rem ;
    width:max-content;
    display: none;
    
}
.btn--learn:hover{
    background: var(--main-color);
    border: none;
}
.btn--meet{
    color: rgb(88, 88, 88);
    border: none;
}
.btn--meet:hover{
    color: white;
    background: transparent;
    border: 2px solid white;
    
}

/**** screen size 900px and 1200px ----*/
@media screen and (min-width: 900px){
    .btn--learn{
        display: inline-block;
    }
}
@media screen and (min-width: 900px){
    .hero__content h1{
        width: 20ch;
    }
}
/******** Dev Sliding Images*****/
/*.dev-container{
    width: 80%;
    margin: 0 auto;  
    /* border: 2px red solid; 
    overflow: hidden;
}
.dev__image-slider1{
    /* display: flex;
    gap: 1rem; 
 position: relative; 

padding: 0;

/* border: 2px solid blue; 
}

.dev__img{
     position: absolute; 
    /* position: relative; 
    transition: all 1.5s;
    list-style-type: none;
    
}
.dev__img:hover .icons-container{
    opacity: 1;
}
.dev__img img{
    width: 25.85vw;
    
    
} */
/* .dev-section{
    
}
.dev__image-container{
border: 1px solid red;

}
.dev__image-slider{
list-style-type: none;
display: grid;
grid-template-columns: repeat(5,100fr);
gap: 2rem;
margin: 1rem;
padding: 0;
}
.dev__img{
  
}
.dev__img img{
    width: 100vw;

}
@media screen and (min-width: 600px) {
    .dev__image-slider{
        grid-template-columns: repeat(5,50%);
        }
        .dev__img img{
            width: 50vw;
        
        }
}
@media screen and (min-width: 1000px) {
    .dev__image-slider{
        grid-template-columns: repeat(5,33.33%);
        }
        .dev__img img{
            width: 33.33vw;
        
        }
} */
/******** 3rd try *************/
.dev-section{
    margin-bottom: 8rem;
}
.dev__image-container{
   
 overflow: hidden;

}
.dev__image-slider{
    list-style-type: none;
  display: flex;
  gap: 1.4rem;

  margin: 1rem;
  padding: 0;
}
.dev__img{
   position: relative;
}
.dev__img img{
    width: 100vw;
}
@media screen and (min-width: 600px) {
    /* .dev__image-slider{
        grid-template-columns: repeat(5,50%);
        } */
        .dev__img img{
            width: 50vw;
        
        }
}
@media screen and (min-width: 1000px) {
    /* .dev__image-slider{
        grid-template-columns: repeat(5,33.33%);
        } */
        .dev__img img{
            width: 33.33vw;
        
        }
} 
@media screen and (min-width: 1200px) {
    /* .dev__image-slider{
        grid-template-columns: repeat(5,33.33%);
        } */
        .dev__img img{
            width: 25.60vw;
        
        }
        .dev__image-container{
            width: 80%;
            margin: auto;
        }
} 

.dev__img:hover .icons-container{
    opacity: 1;
}

.icons-container{
   
    
    background-color: white;
    position: absolute;
    top: 40%;
    left: 30%;
    opacity: 0;
    transition: opacity 0.3s;
}
i{
    font-size: 2rem;
    padding: 1.5rem;
    
}
.icons-contact{
    font-size: 2rem;
    padding: 1.5rem;
    color: black;
    z-index: 100;
    top: 45%;
    transition: all 0.4s;
}
.icons-contact:hover{
    cursor: pointer;
    background-color: rgb(159, 226, 159);
}

/*** dev image buttons**/
.dev__btns-container{
    text-align: center;
}
.dev__btn{
    width: 50px;
    height: 3px;
    cursor: pointer;
    background-color: rgb(212, 212, 212);
    border: none;
    margin-left: 0.7rem;
    
}
/**Dev_ info*/
.dev__info{
    text-align: center;
}
.dev__info h3{
    font-size: 2.2rem;
    font-weight:400;
    margin-bottom:0 ;
}
.dev__info p{
    font-size: 1.4rem;
    margin-top: 0;
    color: var(--para-color);
}

/**************** Service Section ************/
.services-section{
    padding: 10rem 5rem;
    display: grid;
    gap: 2rem;
    background-color: rgb(241, 241, 241);
}

.service{
    text-align: center;
    background-color: white;
    box-shadow: 0 0 20px 2px rgb(211, 211, 211);
    transition: all 0.3s ease-in-out;
    padding: 4rem;
}

.service:hover{
    transform: translateY(-10px);
    box-shadow: 0 0 20px 10px rgb(211, 211, 211); ;
}
.container{
 
    margin: auto;
}
.service i{
font-size: 4rem;
opacity: 0.8;
}
.service h2{
    font-size: 2.5rem;
    font-weight: 400;
}
.service__line{
    border-bottom: 3px solid var(--main-color);
    width: 5rem;
    margin: auto;
}
.service p{
  font-size: 1.6rem;
  color: gray;
  line-height: 2;
  
}

/*** For PC ***/
@media screen and (min-width: 830px) {
    .services-section{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (min-width: 1050px) {
    .services-section{
        grid-template-columns: repeat(3, 1fr);
    }
}

/******** Features Section ************/

.features-section{
display: flex;
flex-direction: column;
justify-content: center;
gap: 5rem 15rem;
margin: 6rem 2rem;
}
.features__title{
    font-weight: 400;
    margin-bottom: 0;
}
.features__para{
    font-size: 1.9rem;
    color: var(--para-color);
    margin-top: 0.7rem;
   
}
.features__img{
    width: clamp(300px, 80%, 800px);
}
.features__img img{
    width: 100%;
}

.features__itself:first-of-type{
margin-top: 5rem;
}
.features__itself i{
    float: left;
    font-size: 2rem;
    color: white;
    background-color: var(--main-color);
}
.itself__content{
   margin-left: 8rem;
}
.itself__content h3{
   margin-bottom: 1rem;
   font-weight: 300;
   font-size: 2.2rem;
   color: var(--para-color);
}
.itself__content p{
    margin-top: 0;
    font-size: 1.6rem;
    color: var(--para-color);
    opacity: 0.7;
}

/**** For PC ****/
@media screen and (min-width:1000px) {
    .features-section{
        flex-direction: row;
        padding: 3rem;
    }
    .features__img{
        width: 50%;
    }
  
}
@media screen and (min-width:1300px) {
    .features-section{
        flex-direction: row;
        padding: 10rem;
    }
}


/******** Video Section **************/
.video-section{
    position: relative;

   background: linear-gradient(rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.7)),url(/images/video-bg.jpg);
   background-position: center center;
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;

   text-align: center;

   padding: 10rem 5rem;

}
.video__icon{
    color: var(--main-color);
    font-size: 5.7rem;
    cursor: pointer;
    padding: 0;

    transform: scale(1);
    transition: transform 0.2s ease-in-out;
}
.video__icon:hover{
    transform: scale(1.2);
}
.video-section h2{
    color: white;
    font-weight: 400;
    font-size: 3.2rem;
    margin: 0.4rem 0 1rem
}
.video-section p{
    color: rgb(185, 185, 185);
    font-size: 1.7rem;
    
}

/*** Video itself ****/

.video__btn{
    text-align: right;
}
.video__btn button{
    background: transparent;
    color: gray;
    font-weight: bold;
    border: none;
}
.video__btn button:hover{
    color: white;
    cursor: pointer;
}
.video__container{
    width: 70vw;
    height: 50vh;
    position: absolute;
    top: 0;
    left: 15%;
    display: none;
    z-index: 100;
}
.video__container iframe{
    width: 70vw;
    height: 50vh;
}
/***** For PC *******/
@media screen and (min-width: 700px) {
    .video-section h2{
        font-size: 3.8rem;
    }
    .video-section p{
        color: rgb(185, 185, 185);
        font-size: 2rem;
        
    }
    .video__container{
     display: none;
    }
}

@media screen and (min-width: 1000px) {
    .video-section p{
        width: 70ch;
        margin: auto;
    }
    .video__container{
        width: 60vw;
        height: 50vh;
    
        left: 20%;
        
    }
    .video__container iframe{
        width: 60vw;
        height: 70vh;
    }

}


/********* Question Section ***********/
.questions-section{
    padding: 10rem 0;
    background-color: rgb(243, 243, 243);
}
.questions__header{
text-align: center;
font-size: 2rem;
margin-bottom: 6rem;
}
.questions__header h2{
    margin: 0 0 -1rem;
    font-weight: 500;
    font-size: 3.4rem;
}
.questions__header p{
    font-size: 1.7rem;
    color: var(--para-color);
}

.questions__container article{
    margin: 1.5rem; 
}
.question{
    background-color: rgb(233, 233, 233);
    padding: 0.6rem 3rem;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  
}
.question__asked{
    color: var(--para-color);
    margin: 1rem 0;
    font-size: 1.8rem;
}
.plus{
    margin: 0;
    margin-top: 0.4rem;
    margin-right: -1rem;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
}
.question__content{
    background: rgb(251, 251, 251);
    color: rgb(163, 163, 163);
    font-size: 1.7rem;
    transition: all 0.3s ease-in-out;

}
.content__padding{
    padding: 2rem 3rem;
}

/**** For PC **/
@media screen and (min-width: 780px) {
    .questions__container article{
        width: 60%;
        margin: 1.5rem auto;
    }
}

/************ Package Section ***********/
.packages-section{
    padding: 10rem 0;
}
.packages__container{
    display: grid;
    gap: 3.6rem;
    margin: 3rem;
}
.package{
    border: 3px solid rgba(228, 228, 228, 0.313);
    text-align: center;
    width: 100%;
}
.package__name {
    color: var(--para-color);
    font-weight: 400;
    font-size: 2.6rem;
}
.package__price{
    color: var(--main-color);
    font-size: 4rem;
    font-weight: 100;
    margin: 0rem 0 -1.8rem;
}
.package__time{
    font-size: 1.6rem;
    color: var(--para-color);
}
.package__features{
    list-style-type: none;
    font-size: 1.7rem;
    color: rgb(186, 186, 186);
    padding-left: 0;
    margin-top: 4rem;
}
.package__features li{
    margin-top: 2.4rem;
}



/****** For PC Size 800px */
@media screen and (min-width:800px) {
    

.packages__container{
   grid-template-columns: repeat(2,1fr);
}

}

/****** For PC Size 1200px */
@media screen and (min-width:1150px) {
    

    .packages__container{
       grid-template-columns: repeat(3,1fr);
    }
    
    }


    /********** Testimonials Section ***********/

    .testimonials-section{
        

        background: linear-gradient(rgba(2, 204, 160, 0.852),rgba(2, 204, 160, 0.833)),
        url("/images/testimonial-bg.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        background-attachment: fixed;
        height: 100vh;

       
    }
    .testimonials-section header{
        padding: 5rem;
    }
    .testimonial__container{
        width: 60%;
        margin: auto;
        overflow: hidden;
        /* border: 1px solid red; */
    }
    .testimonial__slider{
       display: flex;
      
    }
    .testimonial{
        text-align: center; 
        
    }
    .testimonial img{
        width: 100px;
        height: 100px;
        border-radius: 100%;
        border: 4px solid white;
        padding: 0.8rem;
    }
    .testimonial p{
        color: white;
       
        margin: auto;
        margin-top: 4rem;
    }
    /*** Testimonial-Buttons ***/
    .buttons-container{
        text-align: center;
    }
    .test-btn{
        width: 40px;
        height: 3px;
        cursor: pointer;
        background-color: white;
        border: none;
        margin-left: 0.7rem;
    }
    .test-btn:hover{
        background-color: rgb(1, 159, 125);
    }
    .active-btn{
        background: rgb(1, 159, 125);
    }

    /********** Flex-row****/
    
.flex-row{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 3rem;
    margin: 2rem;
}
@media screen and (min-width: 750px) {
    .flex-row{
        flex-direction: row;
        
    }
   }
    /******** Contact-Section******/

    .contact-section h3{
        font-weight: 300;
        font-size: 2.2rem;
        opacity: 0.8;
    }
    .contact-section input,.contact-section textarea{
        display: block;
        border: none;
        border-bottom: 1px solid rgba(206, 206, 206, 0.598);
        padding: 1.3rem;
        width: clamp(400px,30vw,600px);
        
    }
    ::placeholder, .contact__detail p{
        color: rgba(107, 105, 105, 0.573);
        font-size: 1.7rem;
    }
    .contact__detail{
        margin-top: 5rem;
    }
    .contact-section button{
        display: block;
        background-color: var(--main-color);
        border-radius: 3rem;
        padding: 1.3rem 6rem;
        border: none;
        color: white;
        margin: 3rem;
    }
    .contact__info h3{
        margin: 0 0 -0.5rem
    }
    @media screen and (min-width: 750px) {
        .contact__detail{
           margin-right: 10rem;
           margin-top: 0;
        }
       }

       /*** Copyright **/
       .copyright{
           background-color: black;
           color: rgb(209, 209, 209);
           padding: 10rem;
           text-align: center;
           margin-top: 10rem;
           font-size: 1.6rem;
       }