<footer>
  <section class="contact-section">
    <header class="questions__header" style="margin-top: 7rem">
      <h2>Contact Us</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    </header>
    <div class="flex-row">
      <div class="contact__info">
        <h3>Send Message Here</h3>
        <form action="">
          <input id="name" type="text" placeholder="Name" />
          <input type="email" placeholder="Email" />
          <textarea placeholder="message" cols="30" rows="5"></textarea>
          <button type="submit">Send Now</button>
        </form>
      </div>
      <div class="contact__detail">
        <h3>Visit Office</h3>
        <p>1001 Parker Street, Florida - Orlando, 8000, United States</p>
        <h3>Call Us</h3>
        <p>0033-2332=8448 / 8320-2838-0000</p>
        <h3>Send Email</h3>
        <p>design.diva@gmail.com</p>
      </div>
    </div>
  </section>

  <section class="copyright">
    <p>Copyright © Yasir.Design Website | All Rights Reserved</p>
  </section>
</footer>
