<section class="dev-container">
  <ul class="dev__image-slider1">
    <li class="dev__img first-img">
      <div class="icons-container">
        <i class="icon1 fa-brands fa-facebook"></i>
        <i class="icon2 fa-brands fa-twitter"></i>
        <i class="icon3 fa-brands fa-instagram"></i>
      </div>

      <img src="/images/team-1.jpg" alt="" />
    </li>
    <li class="dev__img">
      <img src="/images/team-2.jpg" alt="" />
      <div class="icons-container">
        <i class="icon1 fa-brands fa-facebook"></i>
        <i class="icon2 fa-brands fa-twitter"></i>
        <i class="icon3 fa-brands fa-instagram"></i>
      </div>
    </li>
    <li class="dev__img">
      <img src="/images/team-3.jpg" alt="" />
      <div class="icons-container">
        <i class="icon1 fa-brands fa-facebook"></i>
        <i class="icon2 fa-brands fa-twitter"></i>
        <i class="icon3 fa-brands fa-instagram"></i>
      </div>
    </li>
    <li class="dev__img">
      <img src="/images/team-4.jpg" alt="" />
      <div class="icons-container">
        <i class="icon1 fa-brands fa-facebook"></i>
        <i class="icon2 fa-brands fa-twitter"></i>
        <i class="icon3 fa-brands fa-instagram"></i>
      </div>
    </li>
    <li class="dev__img last-img">
      <div class="icons-container">
        <i class="icon1 fa-brands fa-facebook"></i>
        <i class="icon2 fa-brands fa-twitter"></i>
        <i class="icon3 fa-brands fa-instagram"></i>
      </div>
      <img src="/images/team-5.jpg" alt="" />
    </li>
  </ul>
</section>
