<section class="features-section">
  <div class="features__img">
    <img src="/images/features-mockup.png" alt="2 laptops" />
  </div>
  <div class="features__content">
    <h2 class="features__title">Explore The Features</h2>
    <p class="features__para">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci non
      corporis iure!
    </p>
    <div class="features__itself">
      <i class="fas fa-tablet-alt"></i>
      <div class="itself__content">
        <h3>Responsive Design</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque
          hic blanditiis quidem?
        </p>
      </div>
    </div>

    <div class="features__itself">
      <i class="fas fa-clone"></i>
      <div class="itself__content">
        <h3>Retina Ready</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque
          hic blanditiis quidem?
        </p>
      </div>
    </div>
  </div>
</section>
