<header class="menu-header">
  <section class="menu">
    <div class="icon-logo-flex">
      <p class="main-logo">
        Design<span style="color: rgb(0, 252, 0)">.</span>Diva
      </p>
      <i class="menu-icon dropdown-btn fa-solid fa-bars"></i>
    </div>
    <ul class="menu-list dropdown-content">
      <li><a href="#" class="link">intro</a></li>
      <li><a href="#" class="link">Feature</a></li>
      <li><a href="#" class="link">Team</a></li>
      <li><a href="#" class="link">Pricing</a></li>
      <li><a href="#" class="link">Testimonial</a></li>
      <li><a href="#" class="link">Contact</a></li>
    </ul>
  </section>
</header>
