<section class="packages-section">
  <header class="questions__header">
    <h2>Our Packages</h2>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
  </header>

  <div class="packages__container">
    <article>
      <div class="package">
        <h3 class="package__name">Business Version</h3>
        <p class="package__price">$ 120</p>
        <p class="package__time">Monthly</p>
        <ul class="package__features">
          <li>24 Accounts</li>
          <li>10 GB Storage</li>
          <li>Lifetime Support</li>
          <li>Reliable Service</li>
        </ul>
      </div>
    </article>
    <article>
      <div class="package">
        <h3 class="package__name">Proffesional Version</h3>
        <p class="package__price">$ 100</p>
        <p class="package__time">Monthly</p>
        <ul class="package__features">
          <li>24 Accounts</li>
          <li>10 GB Storage</li>
          <li>Lifetime Support</li>
          <li>Reliable Service</li>
        </ul>
      </div>
    </article>
    <article>
      <div class="package">
        <h3 class="package__name">Standard Version</h3>
        <p class="package__price">$ 50</p>
        <p class="package__time">Monthly</p>
        <ul class="package__features">
          <li>24 Accounts</li>
          <li>10 GB Storage</li>
          <li>Lifetime Support</li>
          <li>Reliable Service</li>
        </ul>
      </div>
    </article>
  </div>
</section>
