<section class="questions-section">
  <header class="questions__header">
    <h2>Have Any Questions</h2>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
  </header>
  <div class="questions__container">
    <article>
      <div class="question">
        <p class="question__asked">What is Web Development?</p>
        <p class="plus dropdown-btn">+</p>
      </div>
      <div class="question__content dropdown-content">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo, tenetur.
        Dignissimos architecto voluptate quibusdam! Consequatur?<br />
        <br />
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatem,
        tenetur?
      </div>
    </article>

    <article>
      <div class="question">
        <p class="question__asked">
          What Type Of Website Are Good For Business Purpose?
        </p>
        <p class="plus dropdown-btn">+</p>
      </div>
      <div class="question__content dropdown-content">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo, tenetur.
        Dignissimos architecto voluptate quibusdam! Consequatur?<br />
        <br />
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatem,
        tenetur?
      </div>
    </article>

    <article>
      <div class="question">
        <p class="question__asked">
          Which Technologies Are Important For Web Development?
        </p>
        <p class="plus dropdown-btn">+</p>
      </div>
      <div class="question__content dropdown-content">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo, tenetur.
        Dignissimos architecto voluptate quibusdam! Consequatur?<br />
        <br />
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatem,
        tenetur?
      </div>
    </article>
  </div>
</section>
