<section class="services-section">
  <div class="service">
    <div class="container">
      <i class="fas fa-tablet-alt"></i>
      <h2>Responsive Design</h2>
      <div class="service__line"></div>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam
        doloribus laudantium quas incidunt quos vitae eligendi cum pariatur rem
        dicta.
      </p>
    </div>
  </div>
  <div class="service">
    <div class="container">
      <i class="fab fa-html5"></i>
      <h2>HTML5</h2>
      <div class="service__line"></div>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam
        doloribus laudantium quas incidunt quos vitae eligendi cum pariatur rem
        dicta.
      </p>
    </div>
  </div>
  <div class="service">
    <div class="container">
      <i class="far fa-bell"></i>
      <h2>24 Hour Support</h2>
      <div class="service__line"></div>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam
        doloribus laudantium quas incidunt quos vitae eligendi cum pariatur rem
        dicta.
      </p>
    </div>
  </div>
</section>
