<section class="video-section">
  <div class="video__container">
    <div class="video__btn"><button>x</button></div>
    <iframe
      width="560"
      height="315"
      src="https://www.youtube.com/embed/zYhdKPwgjGo"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
  </div>
  <i class="video__icon fa-solid fa-circle-play"></i>
  <h2>Watch Sample video</h2>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum repudiandae
    minima reprehenderit ducimus, officia dignissimos!
  </p>
</section>
